body {
  font-family: Arial, sans-serif;
  background:radial-gradient(rgb(5, 5, 105), rgb(10, 148, 84));
  padding: 20px;
}

.container {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 12px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-color: black;
}

button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background: #009688;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #00796b;
}

.hidden {
  display: none;
}

#opcoes button {
  width: 100%;
  text-align: left;
}
.botao-voltar {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.botao-voltar:hover {
  text-decoration: underline;
}
