<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Mini-jogo de Bandeiras</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <a href="/" class="botao-voltar">← Voltar ao Início</a>

  <div class="container">
    <h2 id="titulo-jogo">Monte a bandeira</h2>
        <p>(Arraste as cores na ordem correta)</p>
        <div id="pecas" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <br>
        <button onclick="verificar()">Verificar</button>
        <p id="resultado-mini"></p>
        <button onclick="proximaBandeira()">Próxima Bandeira</button>



    <button onclick="verificar()">Verificar</button>
    <p id="resultado-mini"></p>
  </div>
  <script src="{{ url_for('static', filename='js/minijogo.js') }}"></script>
</body>
</html>
